:is(*, *::before, *::after) {
  box-sizing: border-box;
}

:is(:root, body) {
  background: black;
  color: #fff;
  margin: 0;
  height: 100%;
}

.video-container {
  position: relative;
  height: 100%;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:is(video, canvas.output) {
  display: block;
  width: 100%;
  height: 100%;
  /* height: calc(100vw * 2); */
  /* height: auto; */
  scale: -1 1;
}

video {
  object-fit: cover;
  /* opacity: 0; */
}

/* canvas {
  outline: 2px solid red;
} */
